html,
body {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Roboto, "Times New Roman", Times, serif;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-start:hover {
  cursor: pointer;
}

#game-start {
  border: 4px solid white;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.8rem 0.5rem;
}

p {
  color: white;
}

.gameboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  display: flex;
  gap: 10px;
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
}

table {
  color: white;
}

.cell:hover {
  cursor: pointer;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 4px solid white;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
}
tfoot > * {
  text-align: center;
}

.gameboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.btn-choice:hover {
  cursor: pointer;
}

.btn-choice {
  border: 4px solid white;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.8rem 0.5rem;
}

.choose-opponent {
  display: flex;
  gap: 1rem;
}

.drag {
  display: flex;
  flex-direction: row;
  border: 4px solid white;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.direction:hover {
  cursor: pointer;
}

.direction {
  border: 4px solid white;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.8rem 0.5rem;
}

.friendly-ship {
  background-color: rgb(37, 21, 185);
}

.ship {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.hidden {
  display: none;
}
